@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans.ttf') format('truetype');
    font-display: swap;
  }

* {
    font-family: 'Nunito Sans', sans-serif !important;
}


.container {
    margin: 0 auto;
    width: 600px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(181, 196, 206);
    padding: 20px;
    border-radius: 5px;
}


.button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.item {
    width: 100%;
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(191, 189, 189);
    padding: 3px;
    font-size: 20px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.item label {
    font-size: 20px;
    font-weight: bold;
}

.loading {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* margin: auto; */
    width: 80px;
}

#container-loading {
    z-index: 10;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* display: flex !important; */
    display: none;
}

textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }

#error {
    color: red;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    display: none;
}

.bill-container {
    font-size: 20px;
    width: 30%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 3px;
    }

    .textarea{
        width: 90%;
    }

    .title {
        font-size: 20px;
    }

    .item label {
        font-size: 14px;
    }

    .input {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
    }

    .bill-container {
        font-size: 18px;
        width: 95%;
        padding: 10px;
    }

    .bill-container h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .bill-container p span {
        margin-left: 0px;
        font-size: 18px;
    }

    .bill-container p {
        font-size: 14px;
    }
}

#exist-key {
    font-size: 10px
}
