@font-face {
  font-family: "Rubik", sans-serif;
}
div.swal2-popup {
  background-color: #fff !important;
}

h2#swal2-title {
  color: rgba(42, 36, 36, 0.5921568627) !important;
}

div#swal2-html-container {
  color: #2a2424 !important;
  font-size: larger;
}

button.swal2-confirm {
  background-color: rgb(196, 77, 114) !important;
}
button.swal2-confirm:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  filter: brightness(130%);
}
button.swal2-confirm:active {
  border: none;
  outline: none;
  opacity: 0.7;
}

.bg-body {
  font-family: "Rubik", sans-serif;
}
.bg-body .container-body {
  position: relative;
}
@media (min-width: 1440px) {
  .bg-body .container-body {
    background-image: url(../images/hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7vh 10vw;
    min-height: 100vh;
  }
}
.bg-body .container-body .address-input-section {
  background-image: url(../images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  min-height: 250px;
}
@media (min-width: 1440px) {
  .bg-body .container-body .address-input-section {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
}
.bg-body .container-body .address-input-section .web-title {
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 0;
  color: #fff;
}
.bg-body .container-body .address-input-section .ip-form {
  display: flex;
  justify-content: center;
}
.bg-body .container-body .address-input-section .ip-form .ip-input {
  padding: 14px;
  width: min(80%, 25rem);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}
.bg-body .container-body .address-input-section .ip-form .ip-input:focus {
  outline: none;
}
.bg-body .container-body .address-input-section .ip-form .input-btn {
  background-color: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  width: 2.5rem;
}
.bg-body .container-body .address-input-section .ip-form .input-btn img {
  display: block;
  margin: auto;
}
.bg-body .container-body .data-list-section .row {
  max-width: 80%;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  z-index: 2;
  box-shadow: 1px 2px 15px #808080;
  top: 25%;
  left: 10%;
  min-height: 7rem;
}
@media (min-width: 1440px) {
  .bg-body .container-body .data-list-section .row {
    width: 70%;
    top: 26%;
    left: 15%;
  }
}
.bg-body .container-body .data-list-section .row .data-section {
  border-right: 1px solid rgba(128, 128, 128, 0.7803921569);
}
.bg-body .container-body .data-list-section .row .data-section:nth-child(n+4) {
  border-right: none;
}
@media (max-width: 991.98px) {
  .bg-body .container-body .data-list-section .row .data-section:nth-child(2n) {
    border-right: none;
  }
}
@media (max-width: 576.98px) {
  .bg-body .container-body .data-list-section .row .data-section {
    border: none;
  }
}
.bg-body .container-body .data-list-section .row .data-section .title-data {
  text-transform: uppercase;
  font-size: clamp(0.6rem, 0.7vw, 1rem);
  color: hsl(0, 0%, 59%);
  font-weight: 500;
  margin-bottom: 3px;
  letter-spacing: 2px;
}
.bg-body .container-body .data-list-section .row .data-section .data-ip {
  display: block;
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 10px;
  font-weight: 500;
}
.bg-body .container-body .data-list-section #map {
  min-height: 550px;
  z-index: 1;
}
@media (min-width: 1440px) {
  .bg-body .container-body .data-list-section #map {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */